.product-content {
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
}


.product-content__side {
    /* background-color: aqua; */
    width: 20vw;
    height: 330px;
    border-bottom: 1px solid #cacaca;
    padding-left: 30px;
}

.page-title {
    display: inline-block;
    font-size: 30px;
}

.serch-keyword {
    width: 100%;
    height: 40px;
    border: 1px solid #cacaca;
    border-radius: 20px; 
    padding-left: 10px;
}

.serch-keyword::placeholder {
    color: #cacaca;
}

.serch-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: #fbc737;
    background-color: #fbc737;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    margin-top: 15px;
}

.sort-title {
    display: inline-block;
    margin-top: 15px;
}

.sort-title__price {
    font-size: 20px;
    font-weight: bold;
}

.select-icon::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #a9a8a8;
    content: "";
    /* position: absolute; */
    position: relative;
    right: 18px;
    top: 18px;
    pointer-events: none;
}

.sort-item__select {
    width: 100%;
    height: 40px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-appearance: none;
    appearance: none;
}

.product-content__main {
    position: relative;
    width: 80vw;
    padding-top: 10px;
    padding-right: 50px;
}

.register-button__item {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 40px;
}

.register-button {
    background-color: #fb8937;
    display: inline-block;
    width: 150px;
    height: 45px;
    border-radius: 5px; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;   
    margin-top: 15px;
}

.product-card__wrap {
    /* background-color: red; */
    height: 93%;
}

.product-card {
    position: relative;
    display: inline-block;
    background-color: #ffff;
    width: 100%;
    max-width: 350px;
    aspect-ratio: 5/4;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: 2%;
    text-decoration: none;
}


.card-img img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.card-text {
    display: flex;
    justify-content: space-between;
    color: #000000;
    padding-left: 5%;
    padding-right: 5%;
}

.fruit-price {
    text-align: right;
}

/* ページネーション */

.paginate {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
}

.page-link {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 0.25rem 0.5rem;
    margin-left: 4px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #ffffff;
    text-decoration: none;
    border-radius: 50%;
}

.page-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #ffed9f;
    border-color: #ffffff;
}

.page-item:first-child .page-link {
    border-radius: 50%;
}

.page-item:last-child .page-link {
    border-radius: 50%;
}

.page-item.active .page-link {
    border-radius: 50%;
    color: #fff;
    background-color: #fbc737;
    border-color: #fbc737;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}



